header {
    background-color: $clrW;
    .overlay-filter {
        background-color: rgba(0, 0, 0, 0.7);
        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 100%;
        cursor: pointer;
        animation: right-to-left 0.8s ease-in forwards;
    }
    .nav-bar {
        flex-direction: column;
        // position: relative;
        &::after {
            content: "";
            position: absolute;
            top: 10%;
            right: 48%;
            height: 2px;
            width: 50px;
            background: currentColor;
        }
        .logo {
            padding: 10px 0;
            cursor: pointer;
        }
        .nav-links {
            display: none;
            flex-direction: column;
            width: 100%;
            position: absolute;
            z-index: 50;
            top: rem(60px);
            left: 100%;
            &.open {
                display: flex;
                animation: right-to-left 0.8s ease-in forwards;
            }
            li {
                padding: rem(20px);
                cursor: pointer;
                text-align: center;
                width: 100%;
                background-color: $clrB;
                transition: ease-in-out 0.2s;
                > a {
                    color: $clrW;
                }
                &:hover {
                    background-color: darken($clrW, $amount: 50%);
                }
            }
        }
        .hamburger {
            position: absolute;
            cursor: pointer;
            z-index: 20;
            top: 1rem;
            right: 1.4rem;
            flex-direction: column;
            width: 30px;
            height: 20px;
            justify-content: space-between;
            .bar {
                width: 100%;
                height: 3px;
                background-color: $clrB;
                border-radius: 7px;
            }
        }
    }

    @media screen and(min-width: $mobile-breakpoint) {
        .nav-bar {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .hamburger {
                display: none;
            }
            .nav-links {
                position: static;
                display: flex;
                align-items: center;
                flex-direction: row;
                width: auto;
                li {
                    background-color: transparent;
                    > a {
                        color: $clrB;
                    }
                }
            }
        }
    }
    @keyframes right-to-left {
        100% {
            left: 0;
        }
    }
}
