.introduction {
    min-height: 60vh;
    flex-direction: column;
    align-items: flex-start;
    .info-container {
        flex-direction: column;
        margin-block-end: rem(30px);
        h2 {
            font-size: rem(30px);
            font-family: Poppins-Regular;
            font-weight: 500;
            color: lighten($clrB, $amount: 20%);
        }
        span {
            font-size: rem(30px);
            font-family: Poppins-Bold;
            color: $clrB;
            display: block;
        }
        h3 {
            font-family: Poppins-Regular;
            font-weight: 500;
            color: lighten($clrB, $amount: 20%);
        }
        .btn {
            margin-block-start: rem(10px);
            box-shadow: $boxSh;
            &:hover {
                color: lighten($clrB, $amount: 50%);
                background-color: lighten($clrG, $amount: 10%);
            }
        }
    }
    .img-container {
        margin-block-start: rem(20px);
    }
    @media screen and(min-width: $mobile-breakpoint) {
        margin-block: unset;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 400px);
        grid-column-gap: rem(30px);
        .btn {
            grid-column: 2/3;
            grid-row: 3/4;
            padding: rem(5px);
        }
    }
}
