.my-projs {
    margin-block: rem(18px);
    h2 {
        text-align: center;
        text-transform: capitalize;
        margin-block: rem(10px);
        font-size: rem(32px);
    }
    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: rem(20px);
        .proj-card {
            flex-wrap: wrap;
            > *:not(:first-child) {
                margin-block-start: rem(10px);
            }
            .img-container {
                box-shadow: $boxSh;
            }
            h3 {
                text-transform: capitalize;
                text-align: center;
                font-size: rem(24px);
            }
            .link-container {
                a {
                    padding: rem(8px);
                    border-radius: rem(8px);
                    margin-block-start: rem(8px);
                    background-color: $clrG;
                    transition: ease-in-out 0.25s;
                    &:hover {
                        background-color: lighten($clrG, $amount: 10%);
                    }
                }
            }
            .tec {
                flex-wrap: wrap;
                * {
                    margin: rem(3px);
                    background-color: darken($clrW, $amount: 10%);
                    margin-inline-end: rem(10px);
                    border-radius: rem(7px);
                    padding: rem(8px);
                }
            }
        }
    }
}
