// Colors
$clrB: #232931;
$clrBlight: #393e46;
$clrG: #4ecca3;
$clrW: #eeeeee;

//Box shadows
$boxSh: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25), 0.125em 0.125em 0.125em rgba(0, 0, 0, 0.15);

// Breakpoints
$mobile-breakpoint: 580px;
$narrow-breakpoint: 800px;
$normal-breakpoint: 1280px;
