.contact-me {
    flex-direction: column;
    align-items: center;
    margin-block-start: rem(15px);
    width: 100%;

    .img-container {
        img {
            object-fit: contain;
        }
    }
    form {
        width: 90%;
        padding: rem(10px);
        flex-direction: column;
        margin-block-end: rem(20px);
        textarea {
            resize: none;
            margin-block-end: rem(14px);
            height: 100px;
        }
        textarea,
        input {
            outline: none;
            border: none;
            padding: rem(7px);
        }
        input {
            margin-block-end: rem(18px);
        }
        label {
            font-size: rem(18px);
            margin-block-end: rem(8px);
        }
        .btn {
            box-shadow: $boxSh;
            &:hover {
                background-color: lighten($clrG, $amount: 10%);
            }
        }
        .status {
            opacity: 0;
            text-align: center;
            padding: rem(5px);
            transition: ease-in-out 0.1s;
            &.success {
                opacity: 1;
                background-color: $clrG;
            }
            &.error {
                opacity: 1;
                background-color: rgb(228, 56, 56);
            }
        }
    }
    @media screen and(min-width: $narrow-breakpoint) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: center;
        form {
            margin-inline-start: rem(20px);
            width: 40%;
        }
    }
}
